<%= form_for(customer_db) do |f| %>
  <% if customer_db.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_db.errors.count, "error") %> prohibited this customer_db from being saved:</h2>

      <ul>
      <% customer_db.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :latitude %>
    <%= f.text_field :latitude, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :longitude %>
    <%= f.text_field :longitude, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :telephone %>
    <%= f.text_field :telephone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :mobile %>
    <%= f.text_field :mobile, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :subscription_plan %>
    <%= f.text_field :subscription_plan, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-danger" %>
  </div>
<% end %>
